{% if post.collection == 'publications' %}
<div class="list__item publication__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <div class="publication__layout">
      <div class="publication__body publication__body--full">
        <h2 class="archive__item-title publication__title" itemprop="headline">
          <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
        </h2>

        {% if post.authors %}
          <p class="publication__authors">{{ post.authors }}</p>
        {% endif %}

        {% if post.venue %}
          <p class="publication__venue"><em>{{ post.venue }}</em></p>
        {% elsif post.date %}
          <p class="publication__venue"><em>{{ post.date | default: "1900-01-01" | date: "%Y" }}</em></p>
        {% endif %}

        {% if post.excerpt %}
          <p class="publication__excerpt" itemprop="description">
            {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' }}
          </p>
        {% endif %}

        {% if post.citation %}
          <p class="publication__citation">
            Recommended citation: {{ post.citation }}
          </p>
        {% endif %}

        <p class="publication__links">
          {% assign has_link = false %}

          {% if post.paperurl %}
            <a href="{{ post.paperurl }}">PDF</a>
            {% assign has_link = true %}
          {% endif %}

          {% if post.codeurl %}
            {% if has_link %} | {% endif %}
            <a href="{{ post.codeurl }}">Code</a>
            {% assign has_link = true %}
          {% elsif post.bibtexurl %}
            {% if has_link %} | {% endif %}
            <a href="{{ post.bibtexurl }}">Code</a>
            {% assign has_link = true %}
          {% endif %}

          {% if post.videourl %}
            {% if has_link %} | {% endif %}
            <a href="{{ post.videourl }}">Video</a>
            {% assign has_link = true %}
          {% endif %}

          {% if post.slidesurl %}
            {% if has_link %} | {% endif %}
            <a href="{{ post.slidesurl }}">Slides</a>
            {% assign has_link = true %}
          {% endif %}

          {% if post.url %}
            {% if has_link %} | {% endif %}
            <a href="{{ base_path }}{{ post.url }}">Details</a>
          {% endif %}
        </p>
      </div>
    </div>
  </article>
</div>
